body {
    overflow: hidden;
    margin: 0;
}

#image {
    -webkit-user-drag: none;
    position: absolute;
    left: 50%;
    top: calc(50% - 40px);
    max-width: 100%;
    max-height: calc(100vh - 80px);
    cursor: pointer;
    -webkit-user-drag: none;
    user-select: none;
}

#btn_bar {
    user-select: none;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: fixed;
    bottom: 0;
}

.hover_show {
    opacity: 0;
    transition: opacity 0.5s;
}

.hover_show:hover {
    opacity: 1;
}

button {
    user-select: inherit;
    background-position: center;
    background-repeat: no-repeat;
    background-color: initial;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    cursor: pointer;
    border: none;
    outline: none;
    height: 40px;
    width: 40px;
    margin: 10px 15px 10px 15px;
    -webkit-tap-highlight-color: transparent;
}

button:hover {
    filter: brightness(0.6);
}

button:active {
    filter: brightness(0.2);
}


/* Set image for each button */

#next {
    background-image: url(../ui/next_btn.svg);
}

#previous {
    background-image: url(../ui/previous_btn.svg);
}

#rotate_cw {
    background-image: url(../ui/rotate_cw_btn.svg);
}

#fullscreen {
    background-image: url(../ui/fullscreen_btn.svg);
}

#flip_h {
    background-image: url(../ui/flip_h_btn.svg);
}

#flip_v {
    background-image: url(../ui/flip_v_btn.svg);
}

#zoom_in {
    background-image: url(../ui/zoom_in_btn.svg);
}

#zoom_out {
    background-image: url(../ui/zoom_out_btn.svg);
}

#reset {
    background-image: url(../ui/reset_btn.svg);
}

#delete {
    background-image: url(../ui/delete_btn.svg);
}