body {
    overflow: hidden;
}

#image_cont {
    -webkit-user-drag: none;
    user-select: none;
}

#image {
    position: absolute;
    left: 50%;
    top: 50%;
    max-width: 100%;
    max-height: 99vh;
    cursor: pointer;
    -webkit-user-drag: inherit;
    user-select: inherit;
}

#btn_bar {
    user-select: none;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    white-space: nowrap;
}

button {
    user-select: inherit;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    border: none;
    outline: none;
    height: 40px;
    width: 40px;
    margin: 5px 10px 5px 10px;
}

button:hover {
    filter: hue-rotate(180deg);
}

button:active {
    filter: invert(1);
}


/* Set image for each button */

#next {
    background: url(../ui/next_btn.svg);
}

#previous {
    background: url(../ui/previous_btn.svg);
}

#rotate_cw {
    background: url(../ui/rotate_cw_btn.svg);
}

#rotate_ccw {
    background: url(../ui/rotate_ccw_btn.svg);
}

#flip_h {
    background: url(../ui/flip_h_btn.svg);
}

#flip_v {
    background: url(../ui/flip_v_btn.svg);
}

#zoom_in {
    background: url(../ui/zoom_in_btn.svg);
}

#zoom_out {
    background: url(../ui/zoom_out_btn.svg);
}

#reset {
    background: url(../ui/reset_btn.svg);
}

#delete {
    background: url(../ui/delete_btn.svg);
}